.footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 98.5%;
  background-color: #262626ed;
  color: white;
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  height: 55px;
  backdrop-filter: blur(8px);
  border-radius: 15px;
}

.footer-modal {
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-modal:hover {
  color: rgb(185, 185, 185);
}

/* Media query for mobile devices */
@media (min-width: 601px) and (max-width: 1200px) {
  .footer {
    font-size: 12px; /* Slightly smaller text on tablets */
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 8px; /* Even smaller text on mobile devices */
  }
}
