/* Grey overlay behind the modal */
.footer-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal container */
.footer-modal-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Form inputs */
.footer-modal-container input,
.footer-modal-container textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}
.footer-modal-container textarea {
  height: 100px;
}

.footer-modal-container input:focus,
.footer-modal-container textarea:focus {
  outline: none;
}

/* Submit button */
.footer-modal-container button {
  padding: 8px 16px;
  cursor: pointer;
}

/* Modal title */
.footer-modal-container h2 {
  margin-bottom: 15px;
}

.footer-modal-send-button {
  height: 35px;
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  border: 1px solid;
  border-color: rgb(50, 50, 50);
  border-radius: 250px;
  font-weight: 700;
  width: 100px;
  transition: color 0.3s ease, background-color 0.3s ease;

  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}
.footer-modal-send-button:hover {
  color: black;
  background-color: white;
}
